<div class="navbar--wrapper">
    <nav class="navbar container mx-auto">
        {% for item in primaryMenu.items %}
            <div class="navbar--item--wrapper {{ item.children|length > 0 ? 'has-children': 'no-children' }}">
                <a href="{{ item.link }}" target="{{ item.target }}" class="navbar--item nav-item {{ item.classes|join(' ') }}" title="{{ item.title }}">
                    {{ item.title }}
                </a>

                {% if item.children %}
                    <div class="navbar--submenu--wrapper">
                        {% for child in item.children %}
                            <a href="{{ child.link }}" class="navbar--submenu--item {{ child.classes|join(' ') }}">
                                {{ child.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="navbar--item--wrapper">
            <form class="js-search-form navbar--item nav-item" onsubmit="searchFormHandler()" role="search">
                <input type="text" class="px-4" id="s" name="s"  style="display: none; color: #3d3d3e;" placeholder="{{ __('Search') }}"/>
                <button class="" type="submit" style="pointer-events: auto;">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <script>
                document.querySelector('.js-search-form').addEventListener('submit', function (e) {
                    if (!e.target.classList.contains('active')) {
                        e.preventDefault();
                        e.target.classList.add('active');
                        document.querySelector('#s').style.display = '';
                    }
                });
            </script>
        </div>
    </nav>
</div>
